@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
  border-radius: 0;
  color: #000000bd;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 0.95rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(102.7deg, #d1d0ff, #e4bbff, #ffdae3, #ffddfc) fixed;
}

input,
textarea,
button {
  background: transparent;
  border-radius: 0;
  font-size: 0.95rem;
}

main {
  display: flex;
  width: 450px;
  max-height: 80%;
  padding: 0 20px;
}

#tarefas {
  position: relative;
  display: grid;
  background: #ffffff83;
  box-shadow: 0 10px 80px #0000003d;
  border-radius: 1rem;
  overflow-y: hidden;
}

header {
  padding: 20px 20px 10px 20px;
  border-bottom: 1px solid #bbbdc7;
}

#input {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr auto;
  margin: 20px 0 0 0;
}

#input .form-control {
  width: 100%;
}

#input .submit-btn {
  padding: 5px 15px;
  background: #e4bbff8f;
  border-radius: 1rem;
  cursor: pointer;
}

#list {
  overflow-y: auto;
  display: grid;
  margin: 0 5px 0 0;
}

#list::-webkit-scrollbar {
  width: 8px;
}

#list::-webkit-scrollbar-button {
  height: 5px;
}

#list::-webkit-scrollbar-thumb {
  background: #0000003d;
  border-radius: 2rem;
}

.cards .cards-info .time {
  opacity: 0.5;
  font-size: 0.8rem;
}

.cards {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 15px;
  padding: 10px 20px;
  border-bottom: 1px solid #bbbdc750;
}

.cards-info {
  overflow-x: hidden;
}

.cards-info .task {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cards.resolved {
  background: #b7ddf33d;
}

.cards.resolved .cards-info {
  opacity: 0.5;
}

.cards.resolved .cards-info .task {
  text-decoration: line-through;
}

.cards .resolved-btn {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid #bbbdc7;
  color: #00000000;
  cursor: pointer;
}

.cards .resolved-btn.active {
  background: #6ebb95;
  color: #ffffff;
  border-color: #5ea180;
}

.cards .delete-btn {
  visibility: hidden;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid #e75978;
  color: #e75978;
  cursor: pointer;
}

.cards:hover {
  background: #c4e9ff23;
}

.cards:hover .delete-btn {
  visibility: visible;
}
